fastapi
uvicorn[standard]
sqlalchemy
insightface
onnxruntime
scikit-learn
numpy
pillow
gdown
google-api-python-client
python-multipart
aiofiles
opencv-python-headless
psycopg2-binary
bcrypt
python-dotenv
alembic
httpx
azure-identity
azure-storage-blob
azure-storage-queue
